# Python bytecode files
*.pyc
__pycache__/
test_output_safety_model.pdf
test_output_safety_model
LPDDR4_Safety_Architecture.pdf
LPDDR4_Safety_Architecture
LPDDR4_Visualisierung_Final
LPDDR4_Visualisierung_Final.pdf
LPDDR4_System_Report
LPDDR4_System_Report.pdf
LPDDR5_System_Report
LPDDR5_System_Report.pdf
