site_url: https://HENKI2004.github.io/Beachlore

site_name: Beachlore Safety Docs
theme:
  name: material
  palette:
    primary: teal
    accent: purple
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

plugins:
  - search
  - gen-files:
      scripts:
        - gen_ref_pages.py
  - literate-nav:
      nav_file: reference/SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google

nav:
  - Home: index.md
  - API Reference: reference/SUMMARY.md