name: Publish Docs
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -e .
      - run: pip install -r docs/requirements.txt
      - run: mkdocs gh-deploy --force